In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import ConfusionMatrixDisplay
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import GaussianNB
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.preprocessing import LabelEncoder
from sklearn import tree
import math
import os
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from icecream import ic
from sklearn.datasets import load_iris
import zipfile as zp
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans,DBSCAN
from scipy.cluster.hierarchy import linkage,dendrogram,cut_tree
import plotly.express as px
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

In [3]:
iris=pd.read_csv('D:/HALDEN/downloads/iris.data.txt',sep=',')

In [4]:
iris

     sep.length  sep.width  pet.length  pet.width         species
0           5.1        3.5         1.4        0.2     Iris-setosa
1           4.9        3.0         1.4        0.2     Iris-setosa
2           4.7        3.2         1.3        0.2     Iris-setosa
3           4.6        3.1         1.5        0.2     Iris-setosa
4           5.0        3.6         1.4        0.2     Iris-setosa
..          ...        ...         ...        ...             ...
145         6.7        3.0         5.2        2.3  Iris-virginica
146         6.3        2.5         5.0        1.9  Iris-virginica
147         6.5        3.0         5.2        2.0  Iris-virginica
148         6.2        3.4         5.4        2.3  Iris-virginica
149         5.9        3.0         5.1        1.8  Iris-virginica

[150 rows x 5 columns]

In [5]:
iris['species'][1][5:]

'setosa'

In [6]:
new_species=[]
for x in range(len(iris['species'])):
    spec=iris['species'][x][5:]
    new_species.append(spec)

In [7]:
iris['species']=new_species

In [8]:
iris

     sep.length  sep.width  pet.length  pet.width    species
0           5.1        3.5         1.4        0.2     setosa
1           4.9        3.0         1.4        0.2     setosa
2           4.7        3.2         1.3        0.2     setosa
3           4.6        3.1         1.5        0.2     setosa
4           5.0        3.6         1.4        0.2     setosa
..          ...        ...         ...        ...        ...
145         6.7        3.0         5.2        2.3  virginica
146         6.3        2.5         5.0        1.9  virginica
147         6.5        3.0         5.2        2.0  virginica
148         6.2        3.4         5.4        2.3  virginica
149         5.9        3.0         5.1        1.8  virginica

[150 rows x 5 columns]

In [9]:
X=iris.drop('species',axis=1)

In [10]:
y=iris['species']

In [11]:
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=0)

In [12]:
def euclideanDistance(instance1,instance2,length):
    
    size_a=len(instance1)-1
    size_b=len(instance2)-1
    sq_diff=[]
    length=size_a
    for x in range(length):
        diff=((instance1[x])-(instance2[x]))**2
        sq_diff.append(diff)
    total=sum(sq_diff)
    dist=math.sqrt(total)
    return dist

In [17]:
len((y_train))

112

In [ ]:
data1 = [2, 3, 2, 'a']

data2 = [4, 4, 4, 'b']

distance = euclideanDistance(x_train, y_train, len(x_train))

print( 'Distance: ' + repr(distance))

In [20]:
x_train

     sep.length  sep.width  pet.length  pet.width
61          5.9        3.0         4.2        1.5
92          5.8        2.6         4.0        1.2
112         6.8        3.0         5.5        2.1
2           4.7        3.2         1.3        0.2
141         6.9        3.1         5.1        2.3
..          ...        ...         ...        ...
9           4.9        3.1         1.5        0.1
103         6.3        2.9         5.6        1.8
67          5.8        2.7         4.1        1.0
117         7.7        3.8         6.7        2.2
47          4.6        3.2         1.4        0.2

[112 rows x 4 columns]

In [ ]:
import operator
def getNeighbors(trainingSet,testinstance,K):
    distances=[]
    length=len(testinstance)-1
    for x in range(len(trainingSet)):
        dist=euclideanDistance(testinstance,trainingSet[x],length)
        distances.append((trainingSet[x],dist))
        distances.sort(key=operator.itemgetter(1))
    neighbors=[]
    for x in range(K):
            neighbors.append(distances[x][0])
    return  neighbors

trainSet = [[2, 2, 2, 'a'], [4, 7, 4, 'b']]

testInstance = [5, 5, 5]

k = 1

neighbors = getNeighbors(trainSet, testInstance, 1)

print(neighbors)

[[4, 7, 4, 'b']]

In [ ]:
trainSet = [[2, 2, 2, 'a'], [4, 4, 4, 'b']]

testInstance = [5, 5, 5]

k = 1

neighbors = getNeighbors(trainSet, testInstance, 1)

print(neighbors)

[[2, 2, 2, 'a']]

In [ ]:
def getResponse(neighbors):
    classVotes={}
    for x in range(len(neighbors)):
        response=neighbors[x][0]
        if response in classVotes:
            classVotes[response]+=1
        else:
            classVotes[response]=1
            
        sortedVotes=sorted(classVotes.items(),key=operator.itemgetter(1),reverse=True)
    return sortedVotes[0][0]

In [ ]:
neighbors = [[1,1,1,'a'], [2,2,2,'a'], [3,3,3,'b']]

response = getResponse(neighbors)

print(response)

1

In [41]:
testSet = [[1,1,1,'a'], [2,2,2,'a'], [3,3,3,'b']]

testSet_new=[testSet[x][-1] for x in range(len(testSet))]

['a', 'a', 'b']

In [32]:
lis1=[1,2,3,4]
lis2=[2,3,3,4]
correct=list(filter(lambda x :x if True else None ,list(map(lambda x,y:x==y,lis1,lis2))))

[True, True]

In [42]:
def getAccuracy(test_set,predictions):
    testset_new=[test_set[x][-1] for x in range(len(test_set))]
    correct=list(filter(lambda x :x if True else None ,list(map(lambda x,y:x==y,testset_new,predictions))))
    correct_len=len(correct)
    return (correct_len/float(len(testset_new)))*100.0

In [43]:
testSet = [[1,1,1,'a'], [2,2,2,'a'], [3,3,3,'b']]

predictions = ['a', 'a', 'a']

accuracy = getAccuracy(testSet, predictions)

print(accuracy)

66.66666666666666

another distance metric

In [ ]:
def manhattaan_distance(point1,point2):
    x1,y1=point1
    x2,y2=point2
    return abs(x2-x1)+abs(y2-y1)